.logo{
    width: 100px;
    height: 30px;
}
.text{
    text-align: end;
}
.story{
    display: flex;
    justify-content: center;
}
.basic1{
    width: 67px;
    height: 67px;
    border-radius: 70%;
    overflow: hidden;
    margin: 4px;
}
.presentation_profile_image_border {
    width: 75px;
    height: 75px;
    border-radius: 70%;
    border: 2px solid transparent;
    background-image: linear-gradient(#fff, #fff),
    linear-gradient(to right, red 0%, orange 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    position: relative;
}
.basic2{
    width: 67px;
    height: 67px;
    border-radius: 70%;
    overflow: hidden;
    margin: 4px;
}
.basic3{
    width: 67px;
    height: 67px;
    border-radius: 70%;
    overflow: hidden;
    margin: 4px;
}
.onion{
    width: 67px;
    height: 67px;
    border-radius: 70%;
    overflow: hidden;
    margin: 4px;
}
.hongseop{
    width: 75px;
    height: 75px;
    border-radius: 70%;
    overflow: hidden;
}
.jiwoo{
    width: 75px;
    height: 75px;
    border-radius: 70%;
    overflow: hidden;
}
.Yejin{
    width: 75px;
    height: 75px;
    border-radius: 70%;
    overflow: hidden;
}
.Yujin{
    width: 75px;
    height: 75px;
    border-radius: 70%;
    overflow: hidden;
}
